body{
    background-color: #F7F9F2;
    border: 2px solid rgb(150, 81, 81);
    border-radius: 5px;
   

}
input{
    font-size: 20px;
}
img{
    float: left;
    height: 500px;
    border-radius: 15px;
    width: 700px;
    padding: 5px;
    margin-right: 10px;
}
button{
    height: 3rem;
    font-size: larger;
    background-color:rgb(198, 79, 99) ;
    color: beige;
    border-radius: 5px;
}
h1{
    color: rgb(102, 52, 52);
    text-align: center;
}
.container{
    margin-left: 10px;
}
